@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using PriceInfo.Services
@using System.Text;
@page "/"

    <h1>New page 1</h1>



@code {


    protected override async Task OnInitializedAsync()
    {
        MarketPriceSpot prices = new MarketPriceSpot();
        
    }



}

